nav {
  background: red;
  color: #ffffff;
}

footer {
  background: red;
  color: white;
}

container {
  margin: 5%;
}

#icon {
  max-width: 200px;
}
i {
  height: 30px;
  width: 30px;
}

.carousel .item img {
  max-height: 600px;
  min-width: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#showsBody {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#showsMain {
  flex: 1 0 auto;
}