nav {
  color: #ffffff;
}

footer {
  color: #ffffff;
}

container {
  margin: 5%;
}

#icon {
  max-width: 200px;
}
i {
  height: 30px;
  width: 30px;
}

.carousel .item img {
  max-height: 600px;
  min-width: auto;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#flexBody {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#flexMain {
  flex: 1 0 auto;
}

#mainMenu {
  height: 100vh;
  width: 300px;
  background-color: #920606;
  position: fixed;
  top: 0;
  right: 0px;
  transition: all 0.5s ease-in-out;
  z-index: 50;
  opacity: 0.95;
}
#close {
  position: absolute;
  bottom: 50px;
  left: 50%;
  height: 30px;
  width: 50px;
  color: #ffffff;
}
#close:hover {
  cursor: pointer;
}
#userLogin {
  color: #ffffff;
  padding: 5px;
  margin-top: 250px;
}

.hide {
  display: none;
}
.skyscanner-widget {
  padding: 10px;
  border-radius: 10px;
}

#mainLogo {
  position: absolute;
  left: 35%;
  top: 150px;
}

.footerLogo {
  position: relative;
  max-height: 120px;
  max-width: 120px;
  margin-top: 40px;
}

.zomatoImg {
  max-width: 112px;
  max-height: 63px;
  overflow: auto;
}

#zomato {
  overflow: hidden;
}

#eventTitle {
  font-size: 42px;
}

.gradient {
  background-image: linear-gradient(
    to right,
    #4f000b 0%,
    #720026 21%,
    #ce4257 52%,
    #ff7f51 78%,
    #ff9b54 100%
  );
}

.overlayDiv {
  position: relative;
}

.imgAnimate {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.6s ease;
  background-color: #ce4257;
}

.overlayDiv:hover .overlay {
  opacity: 1;
}

.overlayText {
  color: #ffffff;
}

.user-list {
  position: absolute;
  top: 200px;
  left: 10%;
  color: #ffffff;
}

.logout-btn {
  position: absolute;
  bottom: 125px;
  left: 35%;
  color: #ffffff;
}
